.header {
    width: 100%;
}

.menu-item:hover {
    background-color: #173648;
    color: white;
}

.nav-link {
    font-weight: bolder;
    cursor: pointer;
}

.nav-link:hover {
    color: #BD9B78;
    font-weight: bolder;
    cursor: pointer;
}