.title {
    color: white;
    text-align: center;
    font-size: 8vh;
    font-family: "PT Serif Caption";
    font-weight: bold;
    margin-top: 8vh;
}

.subtitle {
    color: #BD9B78;
    text-align: center;
    font-size: 5vh;
    margin-top: 10vh;
    font-family: "PT Serif Caption";
}
.underline {
    background-color: white;
    text-align: center;
    height: .5vh;
    width: 20vw;
    border-radius: 25px;
    margin: auto;
    margin-top: 3vh;
}

.banner {
    display: grid;
}

.banner-img, .banner-text {
    grid-area: 1 / 1;
}

.contact-btn {
    height: 5vh;
    width: 10vw;
    color: white;
    border-width: 1px;
    border-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5vh;
}



/* Small CSS */
.banner-sm {
    display: grid;
    height: 30vh;
}

.banner-img-sm, .banner-text-sm {
    grid-area: 1/1;
}

.banner-text-sm {
    font-size: 2vh;
}

.title-sm {
    color: white;
    text-align: center;
    font-size: 3vh;
    font-family: "PT Serif Caption";
    margin-top: 3vh;
}

.underline-sm {
    background-color: white;
    text-align: center;
    height: .5vh;
    width: 20vw;
    border-radius: 25px;
    margin: auto;
    margin-top: 1.5vh;
}

.subtitle-sm {
    color: #BD9B78;
    text-align: center;
    font-family: "PT Serif Caption";
    margin-top: 1vh;
}

.contact-btn-sm {
    height: 4vh;
    width: 25vw;
    color: white;
    border-width: 1px;
    border-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 1vh;
}

/* Attorneys Section */
.attorneys {
    height: 80vh;
    width: 100vw;
}

.title-at {
    color: #173648;
    font-size: 6vh;
    text-align: center;
    margin-top: 3vh;
    font-family: "PT Serif Caption";
}

.underline-at {
    height: 1vh;
    width: 20vw;
    background-color: #173648;
    text-align: center;
    margin: auto;
    border-radius: 25px;
}

/* Attorney Info */
.attorneyinfo {
    height: 50vh;
    width: 90%;
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin: auto;
}

.attorneysnip {
    height: 100%;
    width: 20vw;
    background-color: white;
    margin: 0;
    text-align: center;
    justify-content: center;
    justify-items: center;
    display: flex;
    margin-top: 3vh;
}

.attorneyimg {
    height: auto;
    max-height: 40vh;
    max-width: 100%;
    background-color: blue;
    margin: auto;
}

.attorneyname {

}

/* Attorney Info sm */
.title-at-sm {
    color: #173648;
    width: 100vw;
    font-size: 3vh;
    text-align: center;
    margin-top: 3vh;
    font-family: "PT Serif Caption";
}

.underline-at-sm {
    height: .5vh;
    width: 20vw;
    background-color: #173648;
    text-align: center;
    margin: auto;
    border-radius: 25px;
}

.attorneybio-sm {
    height: 30vh;
    width: 100vw;
    justify-content: center;
}

.attorneysnip {
    width: 30vw;
}

.attorneyname-sm {
    font-size: 1.5vh;
}

.whychoose {
    height: 60vh;
    width: 100vw;
    justify-content: center;
}

.whychoose-img {
    height: 80%;
    width: auto;
}

.whychoose-bio {
    height: 70%;
    width: 40%;
}

.whychoose-title {
    color: #BD9B78;
    font-size: 3vh;
    font-weight: bolder;
}

.whychoose-text {
    margin-top: 3vh;
    font-family: "Playfair Display";
}

/* about us LG */
.aboutUs {
    height: 60vh;
    width: 100vw;
    justify-content: center;
}

.aboutUs-img {
    height: 80%;
    width: auto;
}

.aboutUs-bio {
    height: 70%;
    width: 40%;
}

/* WhyChoose sm */
.whychoose-sm {
    height: 60vh;
    width: 100vw;
}

.whychoose-bio-sm {
    width: 80vw;
    justify-content: center;
    margin: auto;
}

.whychoose-title-sm {
    font-size: 1.75vh;
    color: #BD9B78;
    font-weight: bolder;
}

.whychoose-text-sm {
    font-size: 1.25vh;
    margin-top: 1vh;
    font-family: "Playfair Display";
}

.whychoose-img-sm {
    margin-top: 2vh;
}

.aboutUs-title {
    color: #BD9B78;
    font-size: 3vh;
    font-weight: bolder;
    text-align: center;
}

.aboutUs-text {
    margin-top: 3vh;
    font-family: "Playfair Display";
}

.aboutus-sm {
    height: 60vh;
    width: 100vw;
}

.aboutus-bio-sm {
    width: 80vw;
    justify-content: center;
    margin: auto;
}

.aboutus-title-sm {
    font-size: 1.75vh;
    color: #BD9B78;
    font-weight: bolder;
    text-align: center;
}

.aboutus-text-sm {
    font-size: 1.25vh;
    margin-top: 1vh;
    font-family: "Playfair Display";
}

.aboutus-img-sm {
    margin-top: 2vh;
}